.vscode/
build/
__pycache__
.ipynb_checkpoints
.pytest_cache
.DS_Store
.buildinfo
.Trash-1000
.logs
dev
_build
logs/
dev/
**/*_cov_mat.npy
onnx_models/*
*.tfrecord
/weights/site_specific_sweep/*
*.csv
